{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home'%}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'topic_list' board.pk %}">{{ board.name }}</a></li>
<li class="breadcrumb-item active"><a href="{% url 'topic_view' topic_view.board.pk topic_view.pk %}">{{ topic_view.subject }}</a></li>
<li class="breadcrumb-item active">Edit topic</li>

{% endblock %}

{% block content %}

<form action="" method="post">
{% csrf_token %}
{% include 'includes/form.html' %}
<button type="submit" class="btn btn-primary float-right">Edit Topic</button>
</form>

{% endblock %}